.App__header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #48e;
    padding: 4px 16px;
}

.header__dark-icon{
    color: #48e;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    transition: background .2s, color .2s;
}

.header__dark-icon:hover{
    background-color: #48e;
    color: #fff;
}
