*{
  padding: 0;
  margin: 0;
  font-family: "Poppins",sans-serif ;
}

.App {
  position: relative;
  height: 100dvh;
}

body:has(.App  .App__general-container-dark){
  background-color: #222;
  color: #fff;
  transition: background .2s, color .2s;
}

.App__new-note-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #48e;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: #fff;
  border: none;
  padding: 8px;
}

.App__new-note-container{
  transition: scale .2s;
}

.new-note-icon{
  font-size: 1.5rem;
}

.App__new-note-container:hover{
  scale: 1.2;
}

.notes__list{
  padding: 16px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1200px;
  gap: 10px;
}

